body {
    background-color: #f8f9fa;
}

.container {
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.question-container {
    margin-bottom: 20px;
}

.navigation-buttons {
    text-align: center;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn-primary {
    background-color: #007bff;
}

.btn-success {
    background-color: #28a745;
}

.score-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.score-content {
    text-align: center;
}

.btn-info {
    background-color: #17a2b8;
}

