#heading1{
    color:rgb(231, 172, 55);
    text-align:center;
    text-decoration:underline;
    text-transform:capitalize;
    text-shadow:2px 2px 0px rgb(0, 68, 128);
}
#heading2{
    text-align: start;
    text-decoration:underline;
    text-transform:capitalize;
}